:root {
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
*,
:after,
:before {
  box-sizing: border-box;
}

body {
  margin: 0;
  transition: color 0.15s var(--timing-function),
    background-color 0.15s var(--timing-function);
}
.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
}

.btn {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 3px solid black;
  font-size: 30px;
  cursor: pointer;
}
.start {
  margin-right: 20px;
  background-color: green;
}
.stop {
  background-color: red;
}
